[data-atomic-key="AtomAdd"] {
  color: #FF0;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
}
[data-atomic-key="AtomAdd"] #btnAdd {
  cursor: pointer;
}
[data-atomic-key="AtomAdd"] #btnAdd polygon{
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  user-select: none;
}
[data-atomic-key="AtomAdd"] #btnAdd:hover > polygon {
  opacity: 1;
}
