[data-atomic-key="Atom"] {
  color: #FF0;
  text-align: center;
  display: inline-block;
  margin-top: 15px;
}
[data-atomic-key="Atom"] #buttons {
  cursor: pointer;
}
[data-atomic-key="Atom"] #buttons polygon{
  opacity: 0.2;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  user-select: none;
}
[data-atomic-key="Atom"] #buttons g:hover > polygon {
  opacity: 1;
}
[data-atomic-key="Atom"] > [data-atomic-sub="atomKey"] {
  /* background-color: #F00; */
  border: 1px solid #FF0;
  border-radius: 10px;
}
[data-atomic-key="AtomAdd"] {
  color: #FF0;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 15px;
}
[data-atomic-key="AtomAdd"] #btnAdd {
  cursor: pointer;
}
[data-atomic-key="AtomAdd"] #btnAdd polygon{
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  user-select: none;
}
[data-atomic-key="AtomAdd"] #btnAdd:hover > polygon {
  opacity: 1;
}
[data-atomic-key="AtomAdd"] > [data-atomic-sub="atomKey"] {
  background-color: transparent;
  width: 90%;
  font-style: italic;
  text-align: center;
  padding-left: 10px;
  outline: none;
  color: #FF0;
  border: 1px solid #ceac20;
  border-radius: 10px;
}
[data-atomic-key="Editor"] > [data-atomic-sub="fileTitle"] {
  background-color: #0f2042;
  color: #FF0;
  text-align: left;
  padding: 5px;
  font-size: 1.3em;
  padding-left: 45px;
  border-radius: 10px 10px 0 0;
}
[data-atomic-key="Editor"] > [data-atomic-sub="coder"] {
  height: 300px;
  font-size: 18px;
}
[data-atomic-key="Menu"] {
  text-align: center;
}
[data-atomic-key="Menu"] > button {
  padding: 10px;
  width: 90%;
}
body {
  background-color: #1e1f2f !important;
  color: #FFF !important;
}
[data-atomic-key="Playground"] {
  padding-top: 0px;
}
[data-atomic-key="Playground"] > .ide [data-atomic-sub="btnToggleSidebar"] {
  z-index: 100;
  left: 175px;
  top: 5px;
  position: absolute;
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}
[data-atomic-key="Playground"] > .ide .sidebar {
  width: 170px;
  height: 100%;
  float: left;
  padding: 0px;
  position: fixed;
  display: block;
  overflow: scroll;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
[data-atomic-key="Playground"] > .ide .sidebar .title a {
  color: #FF0;
  text-decoration: none;
}
[data-atomic-key="Playground"] > .ide .view{
  margin-left: 170px;
  width: auto;
  padding-left:10px;
  -webkit-transition: margin-left 0.3s ease-out;
  -moz-transition: margin-left 0.3s ease-out;
  -o-transition: margin-left 0.3s ease-out;
  transition: margin-left 0.3s ease-out;
}
[data-atomic-key="Playground"] > .ide > .view [data-atomic-sub="barSizable"]{
  z-index: 2;
  margin: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: row-resize;
}
[data-atomic-key="Playground"] > .ide > .view [data-atomic-sub="barSizable"]::before{
  width: 100%;
  height: 1px;
  content: "";
  display: block;
  background-color: #234ea6;
}
